/* Start Global Css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #00c7fc;
    --white-color: #ffffff;
    --secondary-color: rgba(15, 115, 143, 0.7);
    --third-color: #1f2021;
    --section-padding: 60px;
    --regular-weight: 400;
    --main-transition: 0.3s;
    --size-paragraph: 13px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}

/* Start Component */
.intro-section {
    max-width: 370px;
    margin: auto;
    margin-bottom: var(--section-padding);
    text-align: center;
}

.intro-section h2 {
    font-weight: var(--regular-weight);
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--third-color);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    position: relative;
}

.intro-section h2::before,
.intro-section h2::after {
    content: "";
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-section h2::before {
    background-color: var(--third-color);
    width: 40%;
    height: 2px;
}

.intro-section h2::after {
    background-color: var(--white-color);
    width: 15px;
    height: 15px;
    border: 1px solid var(--third-color);
    border-radius: 50%;
}

.intro-section p {
    font-size: var(--size-paragraph);
    font-weight: 300;
    line-height: 1.9;
    color: #a8a8a8;
    margin: 0;
}

@media (min-width: 992px) {
    .intro-section {
        max-width: 400px;
    }

    .intro-section h2 {
        font-size: 50px;
    }

    .intro-section p {
        font-size: 15px;

    }
}

/* End Component */

/* End Global Css */

/* Start Home */
/* Start Header */
.home {
    min-height: 100vh;
    background-color: rgb(23 33 56 / 70%);
    background-image: url("../images/background-home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 33 56 / 70%);
}

.home header .container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 92px;
}

.home header .container::before {
    content: "";
    position: absolute;
    background-color: white;
    width: calc(100% - 40px);
    height: 1px;
    top: 99%;
    left: 20px;
}

.home header .container a.logo {
    display: block;
    width: fit-content;
}

.home header .container a.logo img {
    height: 40px;
    width: auto;
}

.home header .container nav.navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home header .container nav.navigation ul.links {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 3;
}

.home header .container nav.navigation ul.show {
    display: flex;
    flex-direction: column;
}

.home header .container nav.navigation ul li a {
    font-weight: 600;
    font-size: var(--size-paragraph);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 15px;
    background-color: rgb(23 33 56 / 70%);
    transition: color var(--main-transition), border-bottom var(--main-transition);

}

.home header .container nav.navigation ul li:first-child a,
.home header .container nav.navigation ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    position: relative;
    z-index: 2;
}

.home header .container nav.navigation i {
    font-size: 20px;
    color: var(--white-color);
}

.home header .container nav.navigation i.icon-search {
    padding: 5px 0 5px 20px;
    margin-left: 15px;
    border-left: 1px solid white;
}

.home header .container nav.navigation i.icon-menu {
    cursor: pointer;
}

/* Medium Screens  */
@media (min-width: 768px) {

    .home header .container nav.navigation ul.links {
        display: flex;
        flex-direction: row;
        position: initial;
        top: initial;
        left: initial;
        width: initial;
    }

    .home header .container nav.navigation ul li a {
        background-color: initial;
        padding: 38px 10px;
    }

    .home header .container nav.navigation i.icon-menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .home header .container nav.navigation ul li a {
        font-size: 15px;
    }
}


/* End Header */
/* Start Info */

.home .info {
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px 10px;
}

.home .info .content h2 {
    font-weight: var(--regular-weight);
    font-size: 23px;
    margin: 0;
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 1.6;
}

.home .info .content p {
    color: var(--white-color);
    font-weight: var(--regular-weight);
    font-size: var(--size-paragraph);
    margin: 0;
    margin-top: 40px;
    line-height: 2;
}

@media (min-width: 768px) {
    .home .info {
        text-align: left;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding: 40px;
    }

    .home .info .content {
        max-width: 550px;
    }
}

@media (min-width: 992px) {
    .home .info .content h2 {
        font-size: 30px;
    }

    .home .info .content p {
        font-size: 15px;
    }

    .home .info .content {
        padding-left: 40px;
    }
}


/* End Info */
/* Start Nvigation Arrow */
.navigation-arrow {
    display: none;
}

@media (min-width: 992px) {

    .navigation-arrow {
        display: block;
        position: absolute;
        border: 1px solid var(--white-color);
        padding: 12px 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: background-color var(--main-transition),
            border-color var(--main-transition);
    }

    .navigation-arrow i {
        color: var(--white-color);
    }

    .left-arrow {
        left: 30px;
    }

    .right-arrow {
        right: 30px;
    }

    .navigation-arrow:hover {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
}

/* End Nvigation Arrow */

/* Start Navigation Bullet */
.navigation-bullet {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.navigation-bullet ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.navigation-bullet ul li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
}

.navigation-bullet ul li:nth-of-type(2),
.navigation-bullet ul li:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Navigation Bullet */
/* End Home */
/*  Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--white-color);
}

.services .container .content-section-services {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.services .container .content-section-services .service {
    text-align: center;
    /* padding: 30px; */
}

.services .container .content-section-services .service .icon i {
    color: var(--third-color);
}

.services .container .content-section-services .service .text h4 {
    font-size: 20px;
    font-weight: var(--regular-weight);
    color: var(--main-color);
    margin: 30px 0;
}

.services .container .content-section-services .service .text p {
    font-weight: var(--regular-weight);
    font-size: var(--size-paragraph);
    line-height: 1.8;
    margin: 0;
    color: #a8a8a8;
}

@media (min-width: 768px) {
    .services .container .content-section-services .service {
        display: flex;
        gap: 40px;
    }

    .services .container .content-section-services .service .icon {
        flex-basis: 32px;
    }

    .services .container .content-section-services .service .text {
        flex: 1;
        text-align: left;
    }

    .services .container .content-section-services .service .text h4 {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .services .container .content-section-services {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 60px;
    }

    .services .container .content-section-services .service .icon {
        flex-basis: 48px;
    }

    .services .container .content-section-services .service .icon i {
        font-size: 48px;
    }

    .services .container .content-section-services .service .text h4 {
        font-size: 30px;
    }

    .services .container .content-section-services .service .text p {
        font-size: 15px;
    }
}

/* End Services */
/* Start Phone Advertise */
.phone-advertise {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/design-features.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.phone-advertise::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 33 56 / 70%);
}

.phone-advertise .image-phone {
    display: none;
}

.phone-advertise .text-info {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 50px 0 50px 50px;
    position: relative;
    flex-basis: 100%;
}

.phone-advertise .text-info h2 {
    font-weight: var(--regular-weight);
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
}

.phone-advertise .text-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: var(--regular-weight);
    font-size: 16px;
    position: relative;
}

.phone-advertise .text-info ul li::before {
    content: "\f108";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--white-color);
    margin-right: 15px;
    font-size: 16px;
    position: relative;
    top: 1px;
}

.phone-advertise .text-info ul li {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .phone-advertise .text-info {
        flex: 1;
        justify-content: flex-end;
    }

    .phone-advertise .image-phone {
        display: block;
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        bottom: -140px;
    }
}

@media (min-width: 992px) {

    .phone-advertise .text-info h2 {
        font-size: 25px;
    }

    .phone-advertise .text-info ul {
        font-size: 18px;
    }

    .phone-advertise .text-info ul li::before {
        font-size: 20px;
        top: 2px;
    }
}

/* End Phone Advertise */
/* Start Portfolio  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .container .tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.portfolio .container .tags ul li a,
.portfolio .link a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--third-color);
    font-weight: var(--regular-weight);
    font-size: var(--size-paragraph);
    line-height: 3.46;
    letter-spacing: 0.65px;
    transition: var(--main-transition);
}

.portfolio .container .tags ul li a {
    padding: 0 12px;
}

.portfolio .container .tags ul li:first-child a {
    background-color: var(--main-color);
    color: var(--white-color);
}

.portfolio .container .tags ul li a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.gallery-images {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.gallery-images .box {
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
}

.gallery-images .box .hover-top {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #0faed9;
    border-radius: 50%;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    transition: top var(--main-transition);
    cursor: pointer;
    z-index: 1;
}

.gallery-images .box .hover-top::before,
.gallery-images .box .hover-top::after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery-images .box .hover-top::before {
    width: 2.5px;
    height: 50%;
}

.gallery-images .box .hover-top::after {
    width: 50%;
    height: 2px;
}

.gallery-images .box:hover .hover-top {
    top: 80px;
}

.gallery-images .box .hover-bottom {
    position: absolute;
    background-color: var(--white-color);
    padding: 20px;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: transform var(--main-transition);
    z-index: 1;
}

.gallery-images .box:hover .hover-bottom {
    transform: translateY(0);
}

.gallery-images .box .hover-bottom h4 {
    font-weight: var(--regular-weight);
    font-size: 20px;
    color: var(--third-color);
    margin: 0;
}

.gallery-images .box .hover-bottom p {
    font-weight: var(--regular-weight);
    font-size: var(--size-paragraph);
    color: var(--main-color);
    margin: 0;
    margin-top: 10px;
}

.gallery-images .box img {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.gallery-images .box:hover img {
    transform: scale(1.1) rotate(5deg);
}


@media (min-width: 768px) {
    .gallery-images .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .gallery-images .box .hover-bottom h4 {
        font-size: 30px;
    }

    .gallery-images .box .hover-bottom p,
    .portfolio .tags ul li a,
    .portfolio .link a {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .gallery-images .box {
        flex-basis: 25%;
    }
}

.portfolio .link a {
    padding: 0 20px;
    width: fit-content;
    margin: 60px auto 0;
    border: 1px solid var(--third-color);
}

.portfolio .link a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Portfolio  */
/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 33 56 / 70%);
}

.video>video {
    max-width: 100%;
}

.video .video-info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 30px;
}

.video .video-info h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.video .video-info p {
    font-weight: 400;
    font-size: 13px;
    margin: 30px 0;
}

.video .video-info a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 3.46;
    letter-spacing: 0.63px;
    color: var(--white-color);
    background-color: var(--third-color);
    transition: 0.3s;
}

.video .video-info a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

@media (min-width: 992px) {
    .video .video-info h2 {
        font-size: 30px;
    }

    .video .video-info p,
    .video .video-info a {
        font-size: 15px;
    }
}

/* End Video */
/* Start About Us */
.about-us {
    padding-top: var(--section-padding);
    overflow: hidden;
}

.about-us .container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    margin-top: -60px;
}

.about-us .container img {
    max-width: 100%;
    transform: translateX(-3%);
}

@media (min-width: 500px) {
    .about-us .container .image {
        top: 120px;
        margin-top: -80px;
    }
}

/* End About Us */
/* Start Static */

.static {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/static.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.static::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 33 56 / 70%);
}

.static .container .statics {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.static .container .statics .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: var(--secondary-color);
    padding: 50px;
    position: relative;
}

.static .container .statics .box:not(:last-child):before {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 60%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.static .container .statics .box i {
    width: 60px;
    height: 60px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.static .container .statics .box span {
    font-weight: 700;
    font-size: 50.87px;
    line-height: 1.5;
    letter-spacing: 2.5px;
}

.static .container .statics .box p {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.84;
    margin: 0;
}

@media (min-width: 768px) {
    .static .container .statics {
        grid-template-columns: repeat(2, 1fr);
    }

    .static .container .statics .box:not(:last-child):before {
        display: none;
    }
}

@media (min-width: 992px) {
    .static .container .statics {
        grid-template-columns: repeat(4, 1fr);
    }

    .static .container .statics .box i {
        width: 70px;
        height: 70px;
    }

    .static .container .statics .box i {
        font-size: 32px;
    }

    .static .container .statics .box span {
        font-size: 60px;
    }

    .static .container .statics .box p {
        font-size: 15px;
    }
}

/* End Static */
/* Start Testimonials Skills */
.testimonials-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* Start  Testimonials */

.testimonials-skills .container .testimonials {
    padding-bottom: var(--section-padding);
    margin-bottom: var(--section-padding);
    position: relative;
}

.testimonials-skills .container .testimonials .intro-section h2::before,
.testimonials-skills .container .testimonials .intro-section h2::after {
    display: none;
}

.testimonials-skills .container .testimonials .content-section-testimonials .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 20px;
}

.testimonials-skills .container .testimonials .content-section-testimonials .box .image {
    width: 80px;
    height: 80px;
}

.testimonials-skills .container .testimonials .content-section-testimonials .box .image img {
    border-radius: 50%;
    max-width: 100%;
}

.testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials {
    border-bottom: 1px solid #a9a9a9;
}

.testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials p {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.9;
    color: var(--third-color);
    margin: 0 0 15px 0;
}

.testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials span {
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
    line-height: 1.8;
    color: #a8a8a8;
    display: block;
    width: fit-content;
    margin: 0 0 15px auto;
}

.testimonials-skills .container .testimonials .bullets ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.testimonials-skills .container .testimonials .bullets ul li {
    width: 15px;
    height: 15px;
    border: 1px solid var(--third-color);
    border-radius: 50%;
    transition: background-color var(--main-transition);
}

.testimonials-skills .container .testimonials .bullets ul li:first-child {
    background-color: var(--main-color);
}

.testimonials-skills .container .testimonials .bullets ul li:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (min-width: 768px) {
    .testimonials-skills .container .testimonials .content-section-testimonials .box {
        flex-direction: row;
        gap: 60px;
        align-items: initial;
        text-align: initial;
    }

    .testimonials-skills .container .testimonials .content-section-testimonials .box:not(:last-child) {
        margin-bottom: 15px;
    }

    .testimonials-skills .container .testimonials .content-section-testimonials .box .image {
        flex-basis: 80px;
    }

    .testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials {
        flex: 1;
    }
}

@media (min-width: 992px) {

    .testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials p,
    .testimonials-skills .container .testimonials .content-section-testimonials .text-testimonials span {
        font-size: 15px;
    }
}

/* End  Testimonials */
/* Start  Skills */
.testimonials-skills .container .skills .intro-section h2:before,
.testimonials-skills .container .skills .intro-section h2:after {
    display: none;
}

.testimonials-skills .container .skills .content-section-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonials-skills .container .skills .content-section-skills .content-progress h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.8;
    color: var(--third-color);
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.testimonials-skills .container .skills .content-section-skills .content-progress .progress {
    height: 20px;
    background-color: #dbdbdb;
    position: relative;
    margin: 0;
}

.testimonials-skills .container .skills .content-section-skills .content-progress .progress>span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

.testimonials-skills .container .skills .content-section-skills .content-progress .progress::before {
    content: attr(data-progress);
    position: absolute;
    color: var(--white-color);
    background-color: var(--third-color);
    width: fit-content;
    padding: 2px 10px;
    top: -10px;
    transform: translate(-50%, -100%);
    font-weight: 400;
    font-size: 11px;
    line-height: 2.18;
    border-radius: 5px;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(1) .progress::before {
    left: 95%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(2) .progress::before {
    left: 93%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(3) .progress::before {
    left: 85%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(4) .progress::before {
    left: 87%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress .progress:after {
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: var(--third-color) transparent transparent transparent;
    top: -10px;
    transform: translate(-50%, 0%);
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(1) .progress:after {
    left: 95%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(2) .progress:after {
    left: 93%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(3) .progress:after {
    left: 85%;
}

.testimonials-skills .container .skills .content-section-skills .content-progress:nth-child(4) .progress:after {
    left: 87%;
}

@media (min-width: 992px) {
    .testimonials-skills .container .skills .content-section-skills .content-progress h4 {
        font-size: 15px;
    }

    .testimonials-skills .container .skills .content-section-skills .content-progress .progress::before {
        font-size: 13px;
    }
}

/* End  Skills */

@media (min-width: 992px) {
    .testimonials-skills .container {
        display: flex;
        justify-content: space-between;
    }

    .testimonials-skills .container>div {
        flex-basis: 45%;
    }

    .testimonials-skills .container .testimonials {
        margin-bottom: 0;
    }
}

/* End Testimonials Skills */
/* Start Quote */


.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/quote.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 33 56 / 80%);
}

.quote .container .content-section-quote {
    position: relative;
    text-align: center;
    color: var(--white-color);
}

.quote .container .content-section-quote blockquote {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.quote .container .content-section-quote blockquote:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

.quote .container .content-section-quote blockquote:after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

.quote .container .content-section-quote span {
    font-weight: 600;
    font-size: 13px;
}

@media (min-width: 992px) {

    .quote .container .content-section-quote blockquote {
        font-size: 30px;
    }

    .quote .container .content-section-quote blockquote:before,
    .quote .container .content-section-quote blockquote:after {
        font-size: 25px;
    }

    .quote .container .content-section-quote span {
        font-size: 15px;
    }
}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .container .content-section-pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
}

.pricing .container .content-section-pricing .col {
    text-align: center;
    background-color: #fcfcfc;
}

.pricing .container .content-section-pricing .col .header {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 30px 20px;
}

.pricing .container .content-section-pricing .col .header h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--third-color);
    margin: 0;
}

.pricing .container .content-section-pricing .col .header span {
    font-weight: 600;
    font-size: 59.48px;
    line-height: 1.5;
    color: var(--third-color);
    position: relative;
}

.pricing .container .content-section-pricing .col .header span::before {
    content: "$";
    font-weight: 600;
    font-size: 20.53px;
    line-height: 1.5;
    color: var(--third-color);
    position: absolute;
    top: 6px;
    left: -25px;
}

.pricing .container .content-section-pricing .col .header span::after {
    content: "/Mo";
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    color: var(--third-color);
    position: absolute;
    bottom: 12px;
    right: -35px;
}

.pricing .container .content-section-pricing .col .body {
    border-bottom: 1px solid var(--main-color);
}

.pricing .container .content-section-pricing .col .body ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.pricing .container .content-section-pricing .col .body ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--third-color);
    padding: 20px;
}

.pricing .container .content-section-pricing .col .body ul li:nth-child(-n + 3) {
    position: relative;
}

.pricing .container .content-section-pricing .col .body ul li:nth-child(-n + 3)::before {
    content: "";
    background-color: var(--main-color);
    width: 140px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pricing .container .content-section-pricing .col .footer a {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    color: var(--third-color);
    margin: 30px auto;
    transition: all 0.3s;
}

.pricing .container .content-section-pricing .col .footer a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

@media (min-width: 992px) {

    .pricing .container .content-section-pricing .col .header h3,
    .pricing .container .content-section-pricing .col .body ul li,
    .pricing .container .content-section-pricing .col .footer a {
        font-size: 20px;
    }

    .pricing .container .content-section-pricing .col .header span {
        font-size: 65px;
    }

    .pricing .container .content-section-pricing .col .header span::before {
        font-size: 25px;
    }

    .pricing .container .content-section-pricing .col .header span::after {
        font-size: 15px;
    }
}

.pricing .container .contact {
    margin-top: var(--section-padding);
}

.pricing .container .contact .conttent-section-contact {
    text-align: center;
}

.pricing .container .contact .conttent-section-contact p {
    font-weight: 400;
    font-size: 20px;
    color: var(--third-color);
    margin: 0 0 20px 0;
}

.pricing .container .contact .conttent-section-contact a {
    font-size: 16px;
    letter-spacing: 0.8px;
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: color 0.03s;
}

.pricing .container .contact .conttent-section-contact a:hover {
    color: var(--third-color);
}

@media (min-width: 992px) {
    .pricing .container .contact .conttent-section-contact p {
        font-size: 25px;
    }

    .pricing .container .contact .conttent-section-contact a {
        font-size: 20px;
    }
}

/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/subscribe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 33 56 / 70%);
}

.subscribe .container .content-section-subscribe {
    position: relative;
    color: var(--white-color);
}

.subscribe .container .content-section-subscribe form {
    width: 100%;
    display: flex;
}

.subscribe .container .content-section-subscribe form input::placeholder {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.subscribe .container .content-section-subscribe form input[type="email"] {
    flex: 1;
    background-color: transparent;
    border: 1px solid var(--white-color);
    outline: none;
    background-image: url('../images/envelope-regular.svg');
    background-position: 11px 11px;
    background-repeat: no-repeat;
    padding: 15px 0 15px 45px;
    caret-color: var(--white-color);
}

.subscribe .container .content-section-subscribe form input[type="email"]:focus {
    border-radius: 0;
}

.subscribe .container .content-section-subscribe form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-left: none;
    cursor: pointer;
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.65px;
}

.subscribe .container .content-section-subscribe p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.84;
    margin: 30px 0 0 0;
}

@media (min-width: 992px) {
    .subscribe .container .content-section-subscribe {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .subscribe .container .content-section-subscribe form {
        flex-basis: 55%;
    }

    .subscribe .container .content-section-subscribe p {
        flex-basis: 40%;
        margin: 0;
        font-size: 15px;
    }

    .subscribe .container .content-section-subscribe form input[type="submit"],
    .subscribe .container .content-section-subscribe form input::placeholder {
        font-size: 15px;
    }
}

/* End Subscribe */